 .buttons{
    display:grid;
    grid-template-columns: repeat(4,100px);
    gap: 10px;
 }
 button{
    padding: 10px;
    background-color: aqua;
    border-radius: 10px;
    border: none;
 }
 input{
    margin-bottom: 10px;
    width: 420px;
    height: 40px;
    border-radius: 10px;
 }
 body{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: eef;
    height: 100vh;

 }
 
 
